$color-pink: #c62650;
$color-darkPink: #8c1b39;
$color-purple: #5842dc;
$color-nightBlue: #1a2530;
$color-white: #e5e4e4;
$fontMerri: 'Merriweather Sans', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
